<!-- <h1>LOGIN</h1>

<%= form_for :login do |f| %>

<%= f.text_field :email, placeholder: 'Email' %><br>
<%= f.password_field :password, placeholder: 'Password' %>
<%= f.submit 'Log In'%>

<% end %> -->
<div class="loginpage">
<h1>Log In</h1>
<%= form_tag sessions_path do %>
  <div class="form-group">
    <%= text_field_tag :email, nil , placeholder: "email"%>
  </div>
  <div class="form-group">
    <%= password_field_tag :password, nil,placeholder: "password"%>
  </div>
  <div class="btn btn-default"><%= submit_tag "Log in" %></div>
<% end %>
</div>
