<!-- Header -->
<a name="about"></a>
<div class="intro-header">


        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <h1>Wholesale Meetup</h1>
                    <h3>A place to buy and sell together!</h3>
                    <hr class="intro-divider">
                    <ul class="list-inline intro-social-buttons">
                        <!-- <li>
                            <a href="https://twitter.com/SBootstrap" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                        </li>
                        <li>
                            <a href="https://github.com/IronSummitMedia/startbootstrap" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                        </li>
                        <li>
                            <a href="#" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Linkedin</span></a>
                        </li> -->
                    </ul>
                </div>
            </div>
        </div>
</div>






        <div class="centered">
            <div class="addproduct"> <%= link_to("Add Product", new_product_path)%> </div>
              <div class="row">
                <% @products.each do |p| %>

                  <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                      <h3><%= p.title %></h3>
                      <%= link_to image_tag(p.image.url(:med)), p.image.url %>
                      <div class="caption">
                      <p><%= p.description %></p>
                      <p>$<%= p.price %></p>
                      <p><%= link_to "Go to Product", product_path(p), class: "btn btn-primary" %></p>
                    </div>
                  </div>
                </div>
                  <%end%>
              </div>
          </div>
